.deck {
    grid-area: deck;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 55px); /* Columns */
    grid-template-rows: repeat(13, auto); /* Rows */
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e;
    border: 4px solid #511ccc;
    color: black;
    border-radius: 6px;
}