.player {
    grid-area: playerStats;
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e;
    border: 4px solid #511ccc;
    color: white;
    border-radius: 6px;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableTitle {
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.tableWin {
    font-size: 16px;
    font-weight: bold;
}

.tableWinOdds {
    font-size: 32px;
}

.tableTie {
    font-size: 16px;
    font-weight: bold;
}

.tableTieOdds {
    font-size: 20px;
}