.tableArea {
    grid-area: table;
    position: relative;
    padding: 10px;
    text-align: center;
    color: black;
    border-radius: 6px;
}

.table {
    height: 350px;
    position: absolute;
    background-color: #2C5E17;
    width: 60%;
    border-radius: 40%;
    border: 3px solid #511ccc;
    outline: 5px solid black; /* Outer border: 2px black */
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.branding {
    background-color: #511ccc;
    color: white;
    padding: 6px;
    font-size: 18px;
    float: left;
    font-weight: bold;
}
