.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  z-index: 2;
}

.row {
  display: flex;
  gap: 12px;
}

.boardRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.boardGroup {
  display: flex;
  gap: 8px;
}